# ignore cache folder
/silverstripe-cache/
/asset-admin/
/assets/
/siteconfig/
/yubiauth/
/reports/
/silverstripe-admin/
/silverstripe-assets/
/ideannotator/
/graphql-devtools/
/graphql/
/frameworktest/
/framework/
/cms/
/campaign-admin/
/versioned/
/geshiparser/
/mysite/_config/recaptcha.yml
/mysite/_config/token.yml
# ignore all environment files
_ss_environment.php
.env
# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/
/node_modules/
npm-debug.log
